
div {
    background-color: lightblue;
    max-width: 400px;
}

div.bordered_div {
        border-color: magenta;
        border-width: 3px;
        border-style: solid;
    }

    p {
            background-color: red;
        }

        img {
            width: 400px;
            height: 56.25%;
            object-fit: cover;
        }

         /* @keyframes animate_colours {
            0% {background-color: red;}
            50% {background-color: blue;}
            100% {background-color: red;}
        }

    #anim {
        animation-name: animate_colours;
        animation-duration: 5s;
        animation-iteration-count: infinite;
    } */

    #important_info {
        background-color: lime;
        color: yellow;
        font-weight: bold;
        font-size: 20px;
        text-shadow: 2px 2px 5px black;
    }

    @media (min-width: 800px) {
        div {
            max-width: 800px;
        }
        p {
            background-color: orange;
            text-align: center;
        }
        img {
            width: 800px;       /* Max width that we want */
            height: 56.25%;     /* Height as ratio of width */
            object-fit: cover;   /* Cut off sides, preserve aspect ratio */
        }   
    } 